/* CSS declarations go here */
html, html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body {
  font-family: 'PT Sans', sans-serif !important;
  font-size: 16px !important;
  background-color: #eee !important;
}

header {
  padding: 0.5em;
  color: white;
  background-color: #0D3D56;
}

header input {
  color: inherit;
}

.container, #todo-panel {
  padding: 0;
}

#task-list {
  list-style: none;
  padding-left: 0;
}

#task-list > li {
  padding: 1.5em;
  border-bottom: 1px solid #eee;
  background-color: white;
}

.delete {
  margin-right: 1em;
}

.delete:hover {
  cursor: pointer;
}

.hide-completed {
  margin-right: 1em;
}

.check-complete {
  margin-right: 1em;
}

.toggle-private {
  position: absolute;
  right: 0;
  margin-right: 1em;
}

.shadow {
  -webkit-box-shadow: 0px 0px 3px 0px rgba(46,46,46,0.4);
  -moz-box-shadow: 0px 0px 3px 0px rgba(46,46,46,0.4);
  box-shadow: 0px 0px 3px 0px rgba(46,46,46,0.4);
}
